<div class="mnn__news">
<h4>Join our newsletter list</h4>
<div class="mnn__email">
<input type="email" placeholder="Email address">
<button>go</button>
</div>
<a href="#">Whant to know more?</a>
</div>