<dv class="one">
<div class="featured__left__wrapper">
    <div class="featured__image">{{ fields.field_image.content }}</div>
    <h6 class="featured__title__text">{{ fields.title.content }}</h6>
    <h6 class="featured__body__text">{{ fields.body.content }}</h6>
  </div>
  </div>