<div class="right__side__content">
<div class="right__text">
 <div class="right__side__image">{{ fields.field_image.content }}</div>
</div>
 <h6 class="right__side__text">{{ fields.title.content }}</h6>
</div>