<div class="three">
<div class="featured__bottom">
<div class="featured__bottom__left">
    <div class="featured__bottom__image">{{ fields.field_image.content }}</div>
  <h6 class="featured__title__text">{{ fields.title.content }}</h6>
  </div>
</div>
</div>