<div class="photo__container">
<div class="photo__gallery__image">{{ fields.field_gallery_image.content }}</div>
  <div class="photo__overlay">
    <div class="photo__descriptions">{{fields.field_descriptions.content}}</div>
  </div>
</div>