@import "../base/_variable";
.footer{
    background-color:$--color-background ;
.footer_section{
    display: flex;
    max-width: 1010px;
    margin: auto;
.footer_bottom_1{flex:1 0 22%;
margin-right: 3%;}
.footer_bottom_2{flex:1 0 22%;
    margin-right: 3%;}
.footer_bottom_3{flex:1 0 22%;
    margin-right: 3%;}
.footer_bottom_4{flex:1 0 25%;}
}
}